
      <h1>Create Accessory</h1>
      <div class="form">
        <form action="/createAccessory/" method="post">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Description</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imgUrl">
          <input type="submit" value="Create">
        </form>
      </div>
